.App {
    display: flex;
    width: 100%;
    align-items: stretch;
}

@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#main-footer {
    background: #343a40;
    color: #ffff;
}

#page-header {
    height: 200px;
    background: url('../assets/img/gidon-wessner-SZtLK_W7vKo-unsplash.jpg');
    background-position: 84% 60%;
    background-attachment: fixed;
    background-size: 100%;
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 60px;
}

#main-body {
    min-height: 90vh;
}

.card-img-top {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

//CKEditor setting

.ck {
    .ck-editor {
        min-width: 100%;
    }
}

.ck-editor__editable {
    max-height: 80rem;
    min-height: 20rem;
    min-width: 100rem;
}

.ck-editor__editable_inline {
    max-height: 80rem;
    min-height: 20rem;
    min-width: 100%;
}

html {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

textarea {
    resize: none;
}

.my_category {
    &:last-child {
        margin-bottom: 0.25rem;
    }
}

/////reload button
#btn-reload {
    margin-bottom: 10px;
    border-radius: 7px;
}
#btn-reload #icon {
    width: 24px;
    height: 24px;
    transition: all 0.4s ease-in-out;
    padding-top: 2px;
}
#btn-reload:hover #icon {
    transform: rotate(360deg) scale(1.2);
}
