@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
body {
    font-family: 'Poor Story', cursive;
    font-size: large;
}

.card-img-top {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
#page-header {
    height: 200px;
    background: url('../assets/img/gidon-wessner-SZtLK_W7vKo-unsplash.jpg');
    background-position: 84% 60%;
    background-attachment: fixed;
    background-size: 100%;
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 60px;
}

